@import '../../scss/vars';

// General grid layout
.grid {
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  &__item {
    width: 20%;
    padding: 35px;
    background-color: #fff;

    @media(max-width: 1240px) {
      width: 25%;
      padding: 20px;
    }

    @media(max-width: 900px) {
      width: 33.33%;
      padding: 10px;
    }

    @media(max-width: 500px) {
      width: 50%;
    }
  }

  &__details {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    align-items: stretch;
    top: 0;
    left: 0;
    width: calc(100vw - #{$nav-outer-width});
    height: 100vh;
    background-color: #fff;
    transition: opacity .5s ease;

    @media(max-width: 900px) {
      width: calc(100vw - 150px);
    }
  }
}
