@import 'reset';
@import 'vars';

* { box-sizing: border-box; }

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  font-family: 'Libre Baskerville', sans-serif;
}

.app-container {
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  background-color: #fff;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: $nav-outer-width;
  padding: $app-padding 65px $app-padding $nav-padding;

  @media(max-width: 900px) {
    width: 180px;
    padding: 20px 35px 20px 20px;
  }
}

.content {
  width: calc(100% - #{$nav-outer-width});
  padding: $app-padding 0 $app-padding $app-padding;

  @media(max-width: 900px) {
    width: calc(100% - 150px);
    padding: 20px;
  }

  @media(max-width: 500px) {
    padding: 15px 0 15px 15px;
  }
}

.standard-link {
  padding: 5px;
  color: #000;
  background-color: #fff;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}
