@import '../../scss/vars';

.nav {
  text-align: right;
  opacity: 1;
  transition: opacity $fade-in-duration ease;

  &--is-splash {
    opacity: 0;
    pointer-events: none;
  }

  &__logo {
    width: 100%;
    max-width: 160px;
    min-height: 67px;

    @media (max-width: 900px) {
      max-width: 120px;
    }
  }

  &__links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding-top: 50px;
  }

  &__link {
    width: 1.4em;
    margin-left: 30px;
    text-align: center;
    font-size: 11px;
    word-wrap: break-word;
    text-transform: uppercase;
    line-height: 1.5;

    a {
      position: relative;
      display: block;
      text-align: center;
      padding: 3px;
      text-decoration: none;
      color: #000;

      &:before {
        content: '[';
        position: absolute;
        top: -15px;
        right: 4px;
        transform: rotate(90deg);
        font-size: 18px;
      }

      &:after {
        content: ']';
        position: absolute;
        bottom: -15px;
        right: 4px;
        transform: rotate(90deg);
        font-size: 18px;
      }

      &:hover,
      &:focus,
      &.nav-link--active {
        background-color: #000;
        color: #fff;
        outline: none;

        &:before,
        &:after {
          display: none;
        }
      }
    }

    &:first-of-type a:before,
    &:first-of-type a:after {
      right: 5px;
    }

    &:nth-of-type(2) {
      padding-top: 33.33%;
    }
  }
}
